<h1 align="center">Welcome to the Diversity Book Challenge Recommender!</h1>
<!--dashboard pictures w. previous weeks champions-->
<!--box w. current # of submitted nominations-->
<!--graph displaying which values are in the lead-->
<!--box w. users lifetime nominations-->


<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About</h3>
      </div>
      <div class="panel-body">
        This is a project inspired by KT Bradford's #KTBookChallenge. Please see her original blog post for a better sense of what this is all about. This is meant to provide a place to recommend books that are written by anyone except straight, white, cis men. Diversify your reading list by looking at other books people have submitted.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What Can I Submit?</h3>
      </div>
      <div class="panel-body">
        The minimum criteria is that the author be anyone except a straight, white, cis man. However, it is generally discouraged to submit books that engage in any harm. For example, while books written by J.K. Rowling are allowed, and have a well-developed gay character, she engages in racist tropes. Be mindful of what you are submitting.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">So how do I submit a book?</h3>
        </div>
    <div class="panel-body">
      Create a new recommendation by typing in the title of book, the author, and selecting up to two values which the book upholds. The values it can uphold are along axis of oppression, so the book must feature a character who lives along an axis of oppression. Ideally, the character is well-developed and has more characteristics than just belonging to a historically oppressed group. 
    </div>
  </div>
  </div>
</div>


