<h1 align="center">Create a Recommendation!</h1>


  <div class="col-md-6">
    <div class="panel panel-default">
         <div class="panel-heading">
         <h3 class="panel-title">Shoutout</h3>
        </div>
        <div class="panel-body">
            <%= render 'form' %>
        </div>
        </div>
    </div>



    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Values</h3>
        </div>
        <div class="panel-body">
          <% @value.each do |value| %>
              <ul>
                <li><i class="fa <%= value.icon %>"></i><b> <%= value.name %> </b>: <%= value.description %> </li>
              </ul>
          <% end %>
        </div>
      </div>
    </div>
